@font-face {
  font-family: 'BerlinSans';
  src: url('../assets/fonts/(INMOBILIARIA) Berlin Sans FB Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mouser';
  src: url('../assets/fonts/(JEREZ) Mouser.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ArtBrush';
  src: url('../assets/fonts/(SUR) artbrush.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}